.main-page {
    display: flex;
}
.main-page ul.main-list {
    background-color: var(--main-color);
    color: white;
    width: fit-content;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.main-page ul.main-list li {
    padding: 9px;
    margin:auto;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.main-page ul.main-list .status a {
    display: flex;
    align-items: center;
    gap: 3px;
}
.main-page ul.main-list span {
    width: 2px;
    height: 13px;
    background-color: white;
    display: block;
    border-radius: 20px;
    -webkit-border-radius: 20xp;
    -moz-border-radius: 20xp;
    -ms-border-radius: 20xp;
    -o-border-radius: 20xp;
}
.main-page ul.main-list span.md {
    height: 20px;
}
.main-page ul.main-list .setting {
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.main-page .setting .setting-content {
    position: absolute;
    bottom: 3px;
    left: 31px;
    z-index: 1;
    width: 192px;
    background-color: #3f3f3f;
    border-radius: 2px;
    padding: 6px;
}
.main-page .setting .bg-list {
    position: relative;
}
.main-page .setting .bg-list::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: red;
}
.main-page .setting .bg-list img {
    height: 38px;
    width: 30px;
    border-radius: 2px;
    margin: 3px;
}