.main-bar {
    background-color: var(--main-color);
    color: white;
    width: fit-content;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto auto auto 1fr;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.main-bar li {
    padding: 9px;
    margin:auto;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.main-bar .profile-tab {
    cursor: pointer;
}
.main-bar .status a {
    display: flex;
    align-items: center;
    gap: 3px;
}
.main-bar span {
    width: 2px;
    height: 13px;
    background-color: white;
    display: block;
    border-radius: 20px;
    -webkit-border-radius: 20xp;
    -moz-border-radius: 20xp;
    -ms-border-radius: 20xp;
    -o-border-radius: 20xp;
}
.main-bar span.md {
    height: 20px;
}
.main-bar .add-user {
    align-self: flex-start;
    justify-self: flex-start;
}