.warning {
    position: absolute;
    top: 0;
    padding: 10px;
    background-color: #37474f;
    color: white;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.warning::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: #dd636e;
}
.warning img {
    background-color: transparent;
    margin-right: 10px;
}