body {
    min-height: 100vh;
}
div {
    width: 300px;
    height: 300px;
    border: solid;
    background-color: #c66060;
    position: absolute;
    top: 0;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}
.resize {
    width: 5px;
    height: 300px;
    position: absolute;
    right: 0px;
    background-color: aquamarine;
    cursor: e-resize;
}